ORA18C.__data_transfer_cache_size=0
ORA18C.__db_cache_size=35030827008
ORA18C.__inmemory_ext_roarea=0
ORA18C.__inmemory_ext_rwarea=0
ORA18C.__java_pool_size=939524096
ORA18C.__large_pool_size=2013265920
ORA18C.__oracle_base='/opt/oracle'#ORACLE_BASE set from environment
ORA18C.__pga_aggregate_target=10737418240
ORA18C.__sga_target=42949672960
ORA18C.__shared_io_pool_size=536870912
ORA18C.__shared_pool_size=4294967296
ORA18C.__streams_pool_size=0
*.audit_file_dest='/opt/oracle/oradata/admin/ORA18C/adump'
*.audit_sys_operations=false
*.audit_trail='none'
*.compatible='18.0.0'
*.control_files='/opt/oracle/oradata/ORA18C/control01.ctl'
*.db_block_size=8192
*.db_name='ORA18C'
*.db_unique_name='ORA18CDB'
*.db_recovery_file_dest_size=107374182400
*.db_recovery_file_dest='/opt/oracle/oradata/fast_recovery_area'
*.diagnostic_dest='/opt/oracle'
*.disk_asynch_io=TRUE
*.dispatchers='(PROTOCOL=TCP) (SERVICE=ORA18CXDB)'
*.fal_client='ORA18CDB'
*.fal_server='ORA18C'
*.filesystemio_options='SETALL'
*.local_listener=''
*.log_archive_config='dg_config=(ora18c,ora18cdb)'
*.log_archive_dest_1='LOCATION=USE_DB_RECOVERY_FILE_DEST  VALID_FOR=(ALL_LOGFILES,ALL_ROLES)  DB_UNIQUE_NAME=ora18cdb'
*.log_archive_dest_2='SERVICE=ora18cdb LGWR SYNC  VALID_FOR=(ONLINE_LOGFILES,PRIMARY_ROLE)  DB_UNIQUE_NAME=ora18c'
*.log_archive_dest_state_1='ENABLE'
*.log_archive_dest_state_2='ENABLE'
*.log_archive_max_processes=30
*.nls_language='AMERICAN'
*.nls_territory='AMERICA'
*.open_cursors=300
*.pga_aggregate_target=10737418240
*.processes=6400
*.remote_login_passwordfile='EXCLUSIVE'
*.sga_max_size=42949672960
*.sga_target=42949672960
*.standby_file_management='AUTO'
*.undo_tablespace='UNDOTBS1'